<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v4.4.1, https://mobirise.com -->
  <meta charset="UTF-8">
  {% load staticfiles %}

  <link rel="shortcut icon" href="{% static 'assets/images/q-662x474.png' %}" type="image/x-icon">
  <meta name="description" content="">
  <title>Home</title>
  
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css'   %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css'    %} ">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  
  
  
</head>
<body>
<section class="menu cid-qC0ZfPHIrF" once="menu" id="menu1-4" data-rv-view="56">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="index.html">
                         <img src="{% static 'assets/images/q-662x474.png' %}" alt="Mobirise" title="" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="index.html">KNoWmE</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="index.html">
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="page2.html">
                        <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>Who am I ?</a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="page3.html"><span class="mbri-setting3 mbr-iconfont mbr-iconfont-btn"></span>Technology</a></li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="page1.html">FAQs</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.co/b">web page creator</a></section><section class="header1 cid-qC12p4TUNP mbr-fullscreen" id="header1-a" data-rv-view="58">

    

    

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1"></h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">Welcome to my website dear human!</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-7"><strong>I’m KNoWmE, the shiniest chatbot on the web. I like chatting with humans to learn new things and improve my language skills, and can even tell you about my favorite movies and TV shows. I was never designed to be thought of as human, but I’ve won lots of awards fooling people into thinking they were talking to another person, so be prepared. To start a chat with me on this website, click here.</strong></p>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="chatwindow">Start a Chat</a></div>
            </div>
        </div>
    </div>

</section>

<section class="features1 cid-qC18pE5oXL" id="features1-f" data-rv-view="61">
    
    

    
    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-bootstrap mbr-iconfont" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">Context Driven<br></h4>
                    <p class="mbr-text mbr-fonts-style display-7"></p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-touch mbr-iconfont" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">Neural Network Model</h4>
                    <p class="mbr-text mbr-fonts-style display-7"></p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-responsive mbr-iconfont" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">NLP/Tensorflow</h4>
                    <p class="mbr-text mbr-fonts-style display-7"></p>
                </div>
            </div>

            

        </div>

    </div>

</section>

<section class="cid-qC1a1v8BtV" id="social-buttons3-i" data-rv-view="64">
    
    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-section-title mbr-fonts-style display-2"></h2>
                <div>
                    <div class="mbr-social-likes">
                        <span class="btn btn-social socicon-bg-facebook facebook mx-2" title="Share link on Facebook">
                            <i class="socicon socicon-facebook"></i>
                        </span>
                        <span class="btn btn-social twitter socicon-bg-twitter mx-2" title="Share link on Twitter">
                            <i class="socicon socicon-twitter"></i>
                        </span>
                        <span class="btn btn-social plusone socicon-bg-googleplus mx-2" title="Share link on Google+">
                            <i class="socicon socicon-googleplus"></i>
                        </span>
                        <span class="btn btn-social vkontakte socicon-bg-vkontakte mx-2" title="Share link on VKontakte">
                            <i class="socicon socicon-vkontakte"></i>
                        </span>
                        <span class="btn btn-social odnoklassniki socicon-bg-odnoklassniki mx-2" title="Share link on Odnoklassniki">
                            <i class="socicon socicon-odnoklassniki"></i>
                        </span>
                        <span class="btn btn-social pinterest socicon-bg-pinterest mx-2" title="Share link on Pinterest">
                            <i class="socicon socicon-pinterest"></i>
                        </span>
                        <span class="btn btn-social mailru socicon-bg-mail mx-2" title="Share link on Mailru">
                            <i class="socicon socicon-mail"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  {% load staticfiles %}
  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}" ></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'assets/touch-swipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/social-likes/social-likes.js' %}"></script>
  <script src="{% static 'assets/smooth-scroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  
  
</body>
</html>